DEFAULT_ENV = 'DEV'

# Onesignal
ONESIGNAL_API_KEY = 'ONESIGNAL_API_KEY'
ONESIGNAL_APP_ID = 'ONESIGNAL_APP_ID'

# Fabric
FABRIC_RO_DB_HOST = ''
FABRIC_RO_DB_USERNAME = ''
FABRIC_RO_DB_PASSWORD = ''
FABRIC_RO_DB = ''

# Ray

# Communicator

# Oneness
ONENESS_RO_DB_HOST = ''
ONENESS_RO_DB_USERNAME = ''
ONENESS_RO_DB_PASSWORD = ''
ONENESS_RO_DB = ''
