<head>
</head>
<body>
    <form method='POST'>
        {% if dbs_available %}
            <select name='database'>
                {% for db in dbs_available %}
                    <option value="{{db}}">{{db}}</option>
                {% endfor %}
            </select>
        {% endif %}
        {% if customer_types %}
            <select name='target'>
                {% for c in customer_types %}
                    <option value="{{c}}">{{c}}</option>
                {% endfor %}
            </select>
        {% endif %}
        Query: <input type='text' name='query'>
        Message: <input type='text' name='message'>
        <input type='submit'>
    </form>
</body>
